[Desktop Entry]
Exec=/usr/bin/apply-folder-settings
Name=manjaro-app-folders
Comment=Set Manjaro Gnome Shell app-folders
Type=Application
Icon=applications-system
StartupNotify=false
X-GNOME-Autostart-enabled=true
