snippet basic boilerplate 
	// Competitive Programming Setup
  #include <iostream>
  #include <unordered_map>
  #include <unordered_set>
  #include <vector>
  #include <algorithm>

	using namespace std;

	int main() {
  
   ${1}


  return 0;
	}
