snippet leetcode Leetcodetemplate

 #include <vector>
 #include <bits/stdc++.h>
 using namespace std; 

 class Solution {
 public:
    int funcname(vector<int>& nums) {

    int smth;
    



    return smth;
    
    }
 };

 int main() {
    // Example usage
    vector<int> arr = {1, 7, 3, 6, 5, 6};
    Solution solution;


    int smthng = solution.funcname(arr);
    cout << "blah" << smthng << endl;

    return 0;
 }
 
